<% include _layouts/header %>


    <div class="align-middle mt-5" style="margin:auto;">
        <h2 class="p-5">
            <center> <i class="fa fa-frown-o" aria-hidden="true"></i> You have no products in your cart</center>
        </h2>
    </div>
    <% include _layouts/footer %>