<% include _layouts/header %>
    <div class=" bg-light px-2 py-2 mt-3 mb-3">
        <h1 class="page-title text-capitalize">
            <%- name %>
        </h1>
    </div>

    <%- content %>
        <% include _layouts/footer %>