<% include _layouts/header %>

   <div class=" bg-light px-2 py-1 mb-5 mt-1">
      <a class="clearcart btn btn-success float-end " href="/users/register">
         Registration <i class="fa fa-sign-in" aria-hidden="true"></i>

      </a>
      <h1 class="page-title"><i class="fa fa-handshake-o" aria-hidden="true"></i>
         Log In
      </h1>
   </div>
   <div class="row">
      <div class="col-6">
         <img
            src="https://images.unsplash.com/photo-1515248137880-45e105b710e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1194&q=80"
            style="width:100%;">
      </div>
      <div class="col-6">
         <form class="row g-3" method="post" action="/users/login">

            <div class="col-12">
               <label for="">Username</label>
               <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="col-12">
               <label for="">Password</label>
               <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="gap-50">
               <i class="fa fa-check-circle-o"></i>
               <button type="submit" class="btn btn-dark px-5 float-end">Log In </button>
            </div>
         </form>

      </div>

   </div>
   <!-- <form method="post" action="/users/login">


      <div class="form-group">
         <label for="">Username Panakk</label>
         <input type="text" class="form-control" name="username" placeholder="Username" required>
      </div>

      <div class="form-group">
         <label for="">Password</label>
         <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>


      <button class="btn btn-default">Log In</button>
   </form> -->



   <% include _layouts/footer %>